.order-details-container {
  padding: 20px;
  max-width: 80vw;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.order-details {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.order-name-detail {
  display: flex;
  justify-content: center;
  margin-top: -3%;
}
.order-status-detail {
  display: flex;
  justify-content: center;
  margin: 2% auto;
  max-width: 7%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgb(15, 175, 15);
  font-size: 12px;
}

.details-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}

.details-column {
  flex: 1;
  padding: 10px;
  white-space: normal;
}

.details-column p {
  margin: 0 0 20px 7px;
}

.view-fish {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.view-fish-btn {
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 12px;
}

.order-description {
  padding-top: 20px;
  max-width: 55vw;
  font-size: 12px;
}

.map-placeholder {
  width: 80%;
  height: 40vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: auto;
}
