.sale-header-container {
  background-color: rgb(74, 104, 211);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vw;
  margin: -10px;

  .function {
    width: 70%;
    color: white;
    button {
      border-radius: 20px;
      margin-right: 3%;
     
    }
  }
}
