.header-delivery {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  margin-top: 40px;
  height: 43px;
  border-radius: 20px;

  .header-delivery-left {
    display: flex;
    margin-top: 20px;
  }

  .function button {
    background-color: transparent;
    color: #01428e;
    padding: 10px 20px;
    margin-left: 5px;
    margin-top: 10px;
    width: 220px;
  }

  .function button:hover {
    background-color: #c3f4fd;
    color: #01428e;
    border-radius: 20px;
  }

  .header-delivery-right {
    display: flex;
    justify-content: space-between;
    margin: 12px 30px 0 0;
  }

  .search-bar {
    background-color: white;
    border-radius: 20px;
  }

  .search button,
  .logout button {
    background-color: #215085;
    border: 1px solid white;
    border-radius: 20px;
    width: 100px;
    margin-left: 20px;
  }

  .search button:hover,
  .logout button:hover {
    background-color: #d5e6fa;
    color: black;
  }

  .logout button {
    border-radius: 20px;
    width: 140px;
    margin-left: 20px;
  }
}
