.header-delivery {
  display: flex;
  margin-top: 40px;
  height: 5%;

  .logo{
    width: 20vw;
  }

  .header-delivery-left {
    display: flex;
    margin-top: 20px;
  }

  .function button {
    background-color: transparent;
    color: rgb(48, 70, 170);
    padding: 10px 20px;
    margin-left: 2%;
    margin-top: 10px;
    width: 10vw;
    border-radius: 20px;
    font-size: 1em;
  }

  .function button:hover {
    background-color: #c3f4fd;
    color: #01428e;
    border-radius: 20px;
  }

  .header-delivery-right {
    display: flex;
    width: 30%;
    margin: 12px 30px 0 0;
  }

  .logout button {
    background-color: #558ac6;
    color: white;
    border-radius: 20px;
    width: 5vw;
  }

  .logout button:hover {
    background-color: #d5e6fa;
    color: black;
  }

  .logout button {
    border-radius: 20px;
    font-size: 1.2em;
    width: 8vw;
    height: 3vh;
    margin-left: 20px;
  }
}
