.sidebar-body-delivery {
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    margin: 30px 0;
  }
  
  .sidebar-body-delivery {
    border-radius: 25px;
    border: 2px solid skyblue;
    background-color: #c3f4fd;
    padding: 20px;
    margin: 20px 0 0 100px;
    height: 65vh;
    width: 15%;
  }
}
